body,
html {
    margin: 0;
}

:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5em;
}

.welcome-container {
    margin-top: 50px;
}

#login-btn,
#register-btn,
#logout-btn {
    height: 50px;
    width: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
    align-items: center;
}

.home-btn {
    position: fixed;
    top: 50px;
    left: 50px;
}